@model IEnumerable<JeyceryTradingCorporation.Models.Category>

@{
    ViewBag.Title = "Categories";
}
<div class="container mt-5">
    <h2>Categories</h2>

    <div class="container-fluid">
        @{Html.RenderAction("Create");}
        @{Html.RenderPartial("Table");}
    </div>
</div>


